.dropdown-button{
  display: flex;
  justify-content: flex-end;
  color: crimson;
 
}

.signUpNav{
  display: flex;
  justify-content: flex-end;
  color: blue;
 
}

.loginNav{
  display: flex;
  justify-content: flex-end;
  color: blueviolet;
 
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  color: crimson;
}

.login-signup {
  display: flex;
  justify-content: flex-end;
  color: crimson;
}

.dropdown-content {
  display: flex;
  justify-content: flex-end;
  color: crimson;
}