.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  color: white;
  padding: 10px;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo-container {
  flex: 9;  /* Increase the flex value to push right section further to the right */
}

.logo img {
  width: 200px;
}

.logo {
  display: flex;
  justify-content: center; /* Align logo to center */
  align-items: center;
  height: 100%; /* Set height to 100% */
  flex: 1; /* Add flex to take up remaining space */

}

.dropdown-button:hover {
  background-color: #008080;
}

.signUpNav {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: teal;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  transition: background-color 0.2s ease;
  font-size: medium;
}

.signUpNav:hover {
  background-color: #008080;
}

.loginNav {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: teal;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  transition: background-color 0.2s ease;
  font-size: medium;
}

.loginNav:hover {
  background-color: #008080;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.login-signup {
  display: flex;
  justify-content: flex-end;
}

.dropdown-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Center items vertically */
  color: white;
  background-color: teal;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s ease;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; /* Align items to the right */
  color: teal;
  background-color: teal;
  min-width: 160px;
  z-index: 1;
  cursor: pointer;
  border: solid;
}

.dropdown-logout {
  margin-top: 10px;
  color: teal;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: flex-end; /* Align to the right */
  transition: background-color 0.2s ease;
  border-radius: 10px;
  min-width: 114px;
}

.dropdown-item {
  color: teal;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 10px;
  max-width: 120px;
}

.dropdown-item:hover {
  background-color: #eee;
}