.nav {
  width: 100vw;
  background-color: #3360FF;
  color: white;
  padding: 1rem 5rem;
  position: absolute;
}

.main {
  width: 100vw;
  height: 100vh;
}

svg {
  position: absolute;
  top: 58vh;
  width: 100%;
  z-index: -1;
}

.background {
  position: absolute;
  width: 100%;
  min-height: 58vh;
  background-color: rgba(51, 96, 255, 0.26);
  z-index: -1;
}
