.content-box {
    width: 300px; 
    margin: 300px auto; 
    
}

.column {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 30px;
}

input {
    width: 100%; 
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #A5A5A5;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-btn {
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    background: #A5C1EB;
    color: #ffffff;
    padding: 10px 20px; 
    cursor: pointer; 
    display: block; 
    margin: 10px auto; 
    position: relative;
    transition: background-color 0.3s;
}

.primary-btn:hover {
    background-color: #4CAF50;
}

p {
    text-align: center; 
    margin-top: 10px;
}














