body {
  background-image: url("https://images.unsplash.com/photo-1562016600-ece13e8ba570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2838&q=80");
}

input {
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

input[type="submit"] {
  width: auto;
  background-color: #010403;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  border-radius: 12px;
}

input[type="submit"]:hover {
  background-color: rgb(15, 37, 182);
  transition: 0.5s;
}

button {
  width: auto;
  background-color: #010403;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(15, 37, 182);
  transition: 0.5s;
}

.signin {
  display: table;
  width: 100%;
  margin: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

.formheader {
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #010403;
}

div {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 25px;
}

.acebook {
  font-weight: bold;
  font-size: 100px;
}
