.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.background::before {
  content: "";
  position: fixed;
  top: 225px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("smbg.png");
  background-repeat: repeat;
  background-size: 20%;
  z-index: -1;
  opacity: 0.1;
  background-blend-mode: multiply;
}

.logo {
  /* Adjust the size and position of the logo as needed */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}