body {
    background-color: #e9ebee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #166fe5;
}
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch; 
    width: 700px; 
    max-width: 800px;
    margin: auto; 
    gap: 20px;   
  }
  
  .image-container {
    background-image: url('https://media.istockphoto.com/id/1371940128/photo/multiracial-friends-taking-big-group-selfie-shot-smiling-at-camera-laughing-young-people.jpg?s=1024x1024&w=is&k=20&c=X-lSpe2zwmknKdbGN1dYNk0VL8FoHFQzlhsjICaUkVA=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 125%;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 125%;
  }


.container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .container input[type="submit"],
  .container button {
    width: 100%;
    padding: 10px;
    background-color: #f21847;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #166fe5;

  }
  
  .container input[type="submit"]:hover,
  .container button:hover {
    background-color: #166fe5;
  }
  
  .forgot-password,
  .create-account {
    text-align: center;
    margin: 10px 0;
  }
  
  .sign-up-button {
    background-color: #008000 !important;

  }
  
  .sign-up-button:hover {
    background-color: #006600; 
  }


/* Mobile view */
@media (max-width: 768px) {
  .image-container {
    display: none;
  }
  
  .container {
    width: 100%;
  }
}
