body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
  height: 100vh; /* Full height */
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #4267b2;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #29487d;
}

.header-link {
  text-decoration: none;
}

.header-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  display: flex;
  height: calc(100% - 60px); /* Subtract header height */
  justify-content: space-between;
  margin-right: 200px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dddfe2;
}

.top-left,
.top-right {
  display: flex;
  align-items: center;
}

.top-right {
  justify-content: flex-end;
}

.top-right > *:not(:last-child) {
  margin-right: 10px;
}

.feed-container {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Navbar styles */
.navbar {
  width: 200px;
  background-color: #f5f6f7;
  padding: 10px;
  border-right: 1px solid #dddfe2;
}

.navbar-button {
  display: block;
  background-color: #4267b2;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 4px 0;
  color: #fff;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #365899;
}

/* SearchBar styles */
.search-bar {
  margin: 10px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 20px;
  transition: border 0.2s ease-in-out;
}

.search-bar input:focus {
  border: 1px solid #4b9cfb;
  outline: none;
}

/* NotificationButton and ProfileButton styles */
.notification-button,
.profile-button {
  padding: 6px 16px;
  font-weight: 600;
  color: #4b4f56;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  border-radius: 50%; /* Changed to circle */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.notification-button:hover,
.profile-button:hover {
  background-color: #e4e6e9;
  transform: scale(1.1); /* Adding hover effect */
}

.navbar-button.login,
.navbar-button.signup {
  background-color: #4b4b4b;
}

.username {
  font-weight: 600;
  color: #365899;
}

.time {
  color: #606770;
  font-size: 0.9em;
}

.message {
  margin-top: 10px;
}

/* PostForm styles */
.post-form {
  margin-top: 20px;
}

.post-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 20px;
}

.post-form button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.post-form button:hover {
  background-color: #365899;
}

.notification-container {
  position: relative;
}

.notifications-list {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification-item {
  border-bottom: 1px solid #f0f0f0;
  padding: 8px 0;
}

/* Customise the comment section for tree-style view */
.comment-container {
  border: 1px solid #dddfe2;
  padding: 10px;
  background-color: #f5f6f7;
  margin-left: 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.comment-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #e4e6e9;
}

.comment-container .username {
  color: #365899;
  font-weight: bold;
}

.comment-container .time {
  font-size: 0.8em;
  color: #606770;
}

.comment-container .comment {
  color: #1d2129;
}

/* Redesign post container */
.post-container {
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.post-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post-image-container {
  /* Existing styles for post image container */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.post-image-container.zoomed {
  cursor: zoom-out;
}

.post-image {
  width: 100%;
  height: auto; /* Remove fixed height to allow for variable height in zoomed view */
  border-radius: 8px;
}

.post-image-container.zoomed .zoomed-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.post-image-container.zoomed .zoomed-image {
  max-width: 90%;
  max-height: 90%;
}

.post-image-container.zoomed .zoomed-image-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-image-container.zoomed .zoomed-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.post-image-container.zoomed .zoomed-image {
  max-width: 90%;
  max-height: 90%;
}

.post-image-container.zoomed .zoomed-image-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Redesign comment form */
.comment-form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.comment-form input {
  flex-grow: 1;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 20px;
}

.comment-form button {
  padding: 8px 16px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.comment-form button:hover {
  background-color: #365899;
}

/* Styling for the div that wraps around PostForm */
.create-post-container {
  display: flex;
  flex-direction: column; /* aligns items vertically */
  justify-content: center; /* center items vertically */
  align-items: center; /* center items horizontally */
  padding: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  background-color: #f5f6f7;
  transition: all 0.2s ease-in-out;
}

.create-post-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #e4e6e9;
}
