.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #166fe5;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-links a:hover {
  background-color: #ff4f75;
}
