.loginContainer {
  display: flexbox;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
  height: 450px;
  width: 400px;
}

#formLabel {
  display: block;
  text-align: center;
  font-size: larger;
  margin-bottom: 10%;
}

.loginButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  margin-top: 10%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

#submitLogin {
  margin-bottom: 10%;
}

.lineBreak {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.form-control {
  margin-bottom: 8%;
}

#alert {
  color: white;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  background-color: rgb(232, 121, 121);
  text-align: center;
  padding: 10px;
  animation: alert-flash 0.5s linear 4;
}

@keyframes alert-flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}