.post-image-upload-button{
  font-size: 17px;
  width: 250px;
  height: 40px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #f1ecec;
  border: none;
  outline: none;
  background-color: rgb(223, 225, 235);
  margin: 10px;
}

#newPost {
  font-size: 18px;
  width: 665px;
  height: 40px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #f1ecec;
  border: none;
  outline: none;
  background-color: rgb(223, 225, 235);
}

.form-container {
  display: flex;  /* Set the container to use flexbox layout */
  align-items: center;  /* Center align items vertically within the container */
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 320px;
  width:375px
}

.form-container input,
.form-container p {
  margin-right: 5px !important;  /* Add some spacing between elements */

}

button:hover {
  background-color: #f0f0f0; /* Change to your desired color */
}

/* CSS code */
input[type="submit"]:hover {
  background-color: #f0f0f0; /* Change to your desired color */
}

#submit {
  font-size: 18px;
  width: 250px;
  height: 40px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #f1ecec;
  border: none;
  outline: none;
  background-color: rgb(223, 225, 235);
}

