.post-image-upload-button{
  font-size: 14px;
  width: 250px;
  height: 40px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #f1ecec;
  border: none;
  outline: none;
  background-color: rgb(223, 225, 235);
}