.new-comment-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.new-comment {
  font-size: 11px;
  display: flex;
  width: 100%;
}

.submit-button {
  font-size: 11px;
}