.my-form {
  display: inline;
  margin: 15px auto 0 auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 2000px;
}

.feed-textarea {
  width: 500px;
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0.5px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  outline: none;
}

.feed-textarea::placeholder {
  padding: 20px;
}

.popup-textarea {
  width: 90%;
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  resize: none;
  outline: none;
}

.submit-post {
  background-color: #47a0fe;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  width: 175px;
}

.submit-post:hover {
  background-color: #285593;
}

.exit-post-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.popup {
  pointer-events: all !important;
}

.upload-image {
  background-color: #47a0fe;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  width: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .upload-image:hover {
  background-color: #285593;
  }