.my-form {
  display: inline;
  margin: 10px auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  z-index: 1;
}

.darken-background {
  background: rgba(0,0,0,0.5);
}

textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  resize: none;
  outline: none;
}

.submit-post {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 1px 1px 5px #333;
}

.exit-post-icon {
  position: absolute;
  top: 15px;
  right: 10px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.popup {
  pointer-events: all !important;
}


