.create {
  width: 500px;

}

.create-form {
  display: flex;
  width: 440px;
  align-items: center;
  justify-content: space-between;

}

.create form {
  height: 100px;
  width: 428px;

}
.create input {
  background-color: rgb(239, 237, 237);
  color: rgb(110, 109, 109);
  border-radius: 50px;
  width: 300px;
}

