
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 350px;
  border: solid 1px #35bcbf;
  padding: 40px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #263849;
}

button {
  color: #263849;
  background-color: #35bcbf;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
  
button:hover {
  background-color: #90f6d7;
  color: #263849;
}