@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.home-img {
    font-size: 48px;
    max-width: 500px; 
    padding-left: 2%;
    text-align: center;
}
.hp-text {
    color: rgb(61, 67, 73);
    font-weight: 700px;
    font-size: 24px;
    float: left;
    padding-right: 20px;
    margin-top: 0px;
}
.hp-signin-text { 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 60%;
    font-weight: 700;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    color: #242424;
    text-decoration: none;
    background:
    linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
    ),
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.hp-signin-text:hover {
    background-size: 0 3px, 100% 3px;
}
.hp-haveanaccount {
    color: #0b0b0b; 
    font-size: 16px;
    width: 60%;
    font-weight: 700;
    width: 100%;
    border-radius: 3px;
    float: center;
}
.hp-form-div {
    width: 600px;
    height: 400px;
    margin-top: 0px;
    text-align: center;
    background-color: #fff;
    padding: 5% 2% 5% 2%;
    border-radius: 5px;
    line-height: 150%;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-up-button {
    background-color: rgb(25,119,242); 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 30%;
    border-radius: 20px;
    color: #fff;
    padding: 6px;
    transition: 650ms;
    border: none;
} 
.sign-up-button:hover {
    background-color: rgb(43, 124, 229); 
    box-shadow: inset 1px 1px 10px #3333339a;   
    color: #fff; 
    font-size: 16px;
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 3%;
    color: #fff;
    padding: 6px;
    cursor: pointer;
} 
.sign-up-button:active {
    background-color: rgb(25,119,242); 
    box-shadow: inset 1px 1px 10px #333333c1; 
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 60%;
    color: #fff;
    padding: 6px;
} 
