body {
  background-color: #ef666f;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}