.homepage {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../public/homepage.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh;
  padding-top: 150px;
}

.inputButton:hover {
  color: green;
  border: 2px solid green;
  transform: scale(1.1);  
  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.titles {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}