.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}


.signup-form input[type="email"] {
  background-image: url(mail.png);
  background-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  width: clamp(200px, 50vw, 400px);
  box-shadow: 3px 3px 3px lightblue;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 300px; 
}

.signup-form input#name {
  background-image: url(id-card.png);
  background-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  width: clamp(200px, 50vw, 400px);
  box-shadow: 3px 3px 3px lightblue;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 300px; 
}

.signup-form input[type="password"] {
  background-image: url(locked-computer.png);
  background-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  width: clamp(200px, 50vw, 400px);
  box-shadow: 3px 3px 3px lightblue;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 300px; 
}

.signup-form input[type="submit"] {
  font-weight: bolder;
  background-color: #ea00ff;
  color: #fff;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: clamp(100px, 5vw, 200px);
}

.signup-form input[type="submit"]:hover {
  background-color: rgb(140, 28, 148);
}



.signup-form .error-message {
  color: red;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

body {
  background-image: linear-gradient(to bottom right, #5d5de7, #fb36f4);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.signup-form h3 {
  color: rgb(255, 255, 255);

}

