/* .main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 150px;
  padding-bottom: 1500px;
  background-color: #bf92b0;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 80%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px; 
  background-color: white;
} */



/* button{
    width: 260px;
    height: 50px;
    border-radius: 60px;
    background-color: #c76a89;
    color: white;
    font-size: 20px;
    border: none;
} */
/* .login-button{
    padding-top: 20px;
    
}

.link{
    font-size: 25px;
    font-weight: 400;
}
 a{
     color: rgb(168, 36, 94);
 } */