
.register-background {
    background: linear-gradient(90deg, rgba(87,68,144,1) 0%, rgba(99,72,135,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .register-background .register-logo {
    position: absolute;
    margin-bottom: 800px;
    margin-right: 550px;
    font-weight: 700;
    font-size: 25pt;
    color: #ffffff;
  }

  .register-background .register-login {
    position: absolute;
    margin-bottom: 800px;
    margin-left: 550px;
    font-weight: 300;
    font-size: 13pt;
    color: #ffffff;
  }

  .register-background .register-login a {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    color: #ffffff;
  }

  .register-background .register-login a:hover {
    background: rgba(0,0,0,0.4);
  }

  .register-background .register-quote {
    margin-bottom: 30px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .register-box {
    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 10px 1px rgba(71, 71, 71, 0.52);
  }

  .register-box input {
    background: #ffffff;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: 100;
    box-sizing: border-box;
    border: 1px solid #c9c3c3;
    border-radius: 5px;
    outline: none;
  }

  .signUpErrorMessage {
    background: #f3d6d6;
    color: red;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: 100;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    display: none;
  }

  .register-box input:focus {
    box-shadow: 0px 0px 1px 1px #634887;
  }

  .register-box button {
    width: 100%;
    margin-bottom: 15px;
    color: #f3f0f0;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(87,68,144,1) 0%, rgba(99,72,135,1) 100%);
  }

  .register-box button:hover {
    background: linear-gradient(90deg, rgba(104,84,163,1) 0%, rgba(123,95,161,1) 100%);
  }

  .set-user-image {
    color: rgba(87,68,144,1);
    font-size: 18px;
    padding: 13px;
    margin-bottom: 10px;
    font-style: oblique;
  }

  #userImage {
    color: #797979;
  }

  #userImage::file-selector-button {
  margin-right: 20px;
  border: none;
  background: linear-gradient(90deg, rgba(87,68,144,1) 0%, rgba(99,72,135,1) 100%);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  }

  #userImage::file-selector-button:hover {
    background: linear-gradient(90deg, rgba(104,84,163,1) 0%, rgba(123,95,161,1) 100%);
  }

