.form-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .aligned-credentials {
    display: flex;
    justify-content: center;
  }
  
  .email-box-space {
    margin-right: 10px;
  }
  
  .password-box-space {
    margin-left: 10px;
  }
  
  .aligned-names {
    display: flex;
    justify-content: center;
  }
  
  .first-name-box-space {
    margin-right: 10px;
  }
  
  .last-name-box-space {
    margin-left: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(170, 216, 216, 0.847);
    border-radius: 20px;
    padding: 10px;
    min-width: 500px;
  }

  .confirmation-popup {
    justify-content: center;
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .confirmation-buttons button {
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }
  
  .error {
    border: 1px solid red !important;
    animation: shake 0.5s;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
    /* background-color: rgba(170, 216, 216, 0.847);
    border-radius: 20px;
    padding: 10px;
    min-width: 500px;
  } */

  
