main {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middleLogo {
    height: 25%;
    width: 25%;
}
.signUpLoginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



