.signup-form-container {
  width: 400px;
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #F0F2F5;
}

.form-title {
  padding: 0px;
  margin-top: 0px;
}

input[type="text"] {
  margin: 5px;
}

button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all .1s ease-in-out;
}