#footer-main-container {
  padding-top: 5rem;
  margin-top: 2rem ;
  border-top: rgb(179, 179, 179) .5px solid;
}

#footer-inner-container {
  box-shadow: var(--shadow-settings);
  background-color: var(--navbar-color);
  padding: 2rem 0;
  max-width: var(--container-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  gap: 1rem;
}

#footer-inner-container p {
  color: var(--primary-color);
}

#footer-team-name {
  font-size: 2rem;
  font-weight: 900;
}

#footer-team-members {
  font-size: 2rem;
  padding-bottom: 2rem;
}

#footer-rights {
  font-size: 1.3rem;
}