
.comment-input {
  font-size: 18px;
  width: 250px;
  height: 40px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #f1ecec;
  border: none;
  outline: none;
  background-color: rgb(223, 225, 235);
  margin-top: 5px;
}

.comment-submit {
  width: 100px;
  height: 40px;
  font-size: medium;
  color: #fff;
  background-color: #3b5998;
  border: none;
  border-radius: 60px;
  padding: 2px 7px 2px 7px;
  margin-left: 10px;
}

.comment-submit:active {
  transform: translateY(2px);
}