#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  }

#post-container {
  background-color: var(--primary-color);
  min-height: 10vh;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-settings);
  border-radius: 3px;
  margin: auto;
}

/*-----------------*/
/*   POST HEADER   */
/*-----------------*/

#post-header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 1rem;
}

#post-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
}
#post-avatar-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border:  .15rem solid #3d3d3d;
  border-radius: 50px;
}

#post-inner-header {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
#post-inner-header h3 {
  font-size: 2.5rem;
}
#post-inner-header time {
  font-size: 1.5rem;
}

/*------------------*/
/*   POST CONTENT   */
/*------------------*/

#post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.post-message {
  background-color: var(--primary-color);
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 1rem 2.5rem 1rem;
}

#post-content-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--grey-color) .5px solid;
}

#post-content-image img {
  width: 100%;
  object-fit: cover;
}

/*-------------------*/
/*   POST COUNTERS   */
/*-------------------*/

#post-counters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2.5rem 1rem;
}

#post-counters button {
  font-size: 1.7rem;
}

#post-counters button .fa-heart {
  padding-right: 1rem;
  color: #e00615;
}

.post-counter {
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
}

.post-counter:hover {
  color: var(--post-btn-color-hover);
  font-size: 1.35rem;
  transition: background-color .15s ease-in-out;
  border-radius: 5px;
}
.post-counter:active {
  color: var(--post-btn-color);
}

/*-----------------*/
/*   NEW COMMENT   */
/*-----------------*/

#new-comments-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 5rem;
  margin: 1rem 0;
}

.new-comment-field {
  cursor:  pointer;
  width: 15rem;
  height: 100%;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  background: transparent;
  padding-left: 3rem;
  outline: transparent 1px solid;
  transition: var(--comment-shrink-animation);
}

.new-comment-field::placeholder {
  font-size: 2rem;
  color: var(--text-black);
  transition: all .2s ease-in-out;
}
.new-comment-field:hover::placeholder {
  color: var(--post-btn-color-hover);
  transition: all .2s ease-in-out;
}

.new-comment-field:focus {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  background-color: #f7f7f7;
  color: var(--text-black);
  transition: var(--comment-grow-animation);
}
.new-comment-field:focus::placeholder {
  color: #c4c4c4;
  transition: var(--comment-grow-animation);
}

.new-comments-submit-btn {
  flex-grow: 0;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 30px;
  color: var(--primary-color);
  cursor: pointer;
  opacity: 0;
  background-color: var(--upload-photo-color);
  transition: all .5s ease;
}

.new-comment-field:focus + .new-comments-submit-btn {
  opacity: 1;
  transition: all .5s ease;
}

.new-comment-field:focus + .new-comments-submit-btn:hover {
  background-color: var(--upload-photo-hover);
  transform: scale(1.1);
  transition: all .15s ease-in-out;
}
.new-comment-field:focus + .new-comments-submit-btn:active {
  transform: translateY(1px);
}

.invisible {
  opacity: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border: none;
}
