.post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjust the margin value as needed */
  margin-left: 150px;
  margin-right: 150px;
}

.user-profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 5%;
}

.user-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.post-content {
  margin-bottom: 0px;
}

.post-message {
  margin-bottom: 10px;
  line-height: 1.4;
}

.post-date {
  color: #888;
  font-size: 12px;
  margin: 0;
}

.like-button {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.like-button:hover {
  color: #3b5998;
}



