@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(239,242,245);
    font-family: 'Roboto', sans-serif;

}
#homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.textWrapper {
    width: 70%;
    margin-right: 3%;
    margin-top: 5%;
}

.like-button {
    text-align: left;
    cursor: pointer;
}
.postWrap {
    width: 75%;
    height: 100px;
    margin-top: 0%;
    background-color: #fff;
    padding: 5% 2% 5% 2%;
    border-radius: 5px;
    line-height: 150%;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* _________________ */

.btn-primary {
    background-color: #23aa4e;
    border-color: #177d37;
  }
  
 
  