#comment-button{
    background-color: rgba(11, 115, 227, 0.702);
    color: white;
    padding: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-inline-end: auto;
}

#profile-pics {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border-style:solid;
    margin-right: 10px;
   
}