#singlePost {
  background: #ffffff;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.15);
}