header {
  background: green;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

header .container .links {
  background-color: white;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}