ul {
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #Bde0fe;
}

li a {
  float: right;
  font-family: 'gill sans';
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  cursor: pointer;
  }

li a:hover:not(.active) {
  background-color: #EAECEE;
  }

.active {
  background-color: #EAECEE
  }

