nav {
  background-color: #27559c;
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 840px;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  height: 100%;
  align-items: center;

}

nav h1 {
  color: #fdfeff;
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0 10px 20px;  
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27559c;
  padding: 10px;
}

/* Style for the navigation items */
.nav-item {
  margin-right: 10px;
}

/* Style for the navigation links */
.nav-item a {
  text-decoration: none;
  color: #fdfeff;
  font-size: 18px;
  font-weight: bold;
}

.username-format {
  font-size: 1rem; font-weight: 300; color: rgb(234, 234, 241)
}
