header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

nav div {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 0.5rem;
  font-size: 16px;
}

button {
  background-color: transparent; 
  border: none; 
  font-size: 16px;
  color: #444;
  margin-right: 0.5rem;
  cursor: pointer; 
  font-size: 16px; 
  padding: 0; 
  text-align: left; 
}
