nav{
  padding: 5px;
  padding-bottom: 20px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav a{
  margin-right: 10px;
}

button i{
  margin-right: 5px;
}

nav button{
  padding: 10px;
}
