.navbar-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100px;
    color: white; 
    background-color: black;
}

.header {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin: 0;
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.links-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link {
    display: flex;
    justify-content: right;
    padding: 4px;
    cursor: pointer;
    font-size: large;
    padding-top: 6px;
    text-align: right;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

.link:hover {
    color: coral;
    transition: .4s;
}


