body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f4f4f4;
    
}

.new-post {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
}

.newpostform {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

.new-post-message {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

.file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 60px;
}

label {
    display: block;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.newpostbutton {
    background-color: #87CEEB;
    margin-left: 2px; /* Adjust margin between buttons if needed */
    border: 2px solid lightblue;
    padding: 8px 16px; /* Add padding for better visual appearance */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    border-radius: 5px;
    margin-top: 10px;

    &:hover {
    background-color: #4682b4;
    }
}


