.post-button,
.logout-button {
  font-size: 15px;
  background-color: white;
  padding: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid rgb(202, 202, 202) 1px;
  margin: 6px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.post-button,
.logout-button:hover {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
}

:root {
  --primary: #3b5998;
  --secondary: white;
}

.nav-container {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
  


/* .nav-bar button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-bar button:hover {
    text-decoration: underline;
} */

