.friends-page-container {
  background-color: #eff9fd;
}

.friend-requests-container, .friends-list-container {
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
}

.heading {
  background-color: white;
  font-weight: 600;
}

.received-sent-heading {
  text-align: center;
  font-weight: 600;

}

.f-username {
  padding: 10px;
  padding-bottom: 20px;
  font-weight: 400;
}

.friend-request-received-container, .friend-request-sent-container,
.friend-container, .no-friends-message-container, .no-requests-message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff9fd;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 0 20px;
  margin: 20px;
}

.no-friends-message, .no-requests-message {
  padding: 12px 10px;
  font-weight: 400;
}

.f-accept-friend-request-button {
  background-color: #2ECC40;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; 
  margin-right: 2.5px;
  margin-left: auto;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 85px;
}

.f-reject-friend-request-button {
  background-color: #FF4136;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  margin-left: 2.5px;
  /* margin-left: auto; */
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 85px;
}

.f-cancel-friend-request-button {
  background-color: #FF851B;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.f-remove-friend-button {
  background-color: #FF4136;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.f-accept-friend-request-button:hover, .f-reject-friend-request-button:hover,
.f-cancel-friend-request-button:hover, .f-remove-friend-button:hover {
  background-color: white;
  border: 0.5px;
  border-style: solid;
  border-color: #D9D9D9;
  color: #4267B2;
}
