.profile-details {
  text-align: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  width: 70%;
  margin: auto;
}

#profile-pics {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  border-style:solid;
  margin-right: 10px;
 
 
}