.info-div {
    margin-left: 350px;
    padding: 40px;
}

.username, .email {
    background-color: aliceblue;
    border-radius: 4px;
    width: 400px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: Roboto;
    font-size: 18px;

}

a {
    font-size: 19px;
}