@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#li-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.home-img {
    position: relative;
    top: -50%;
    left: 0%;
    font-size: 48px;
    max-width: 450px; 
}
.li-text {
    color: rgb(61, 67, 73);
    font-weight: 700px;
    font-size: 24px;
    float: left;
    padding-right: 20px;
    margin-top: 0px;
}
.li-form-div {
    width: 300px;
    height: 300px;
    margin-top: 0px;
    text-align: center;
    background-color: #fff;
    padding: 5% 2% 5% 2%;
    border-radius: 5px;
    line-height: 150%;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.li-form {
    margin: auto;
}
.loginButton {
    background-color: rgb(66,183,41); 
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
    transition: 150ms;
    border: none;
} 
.loginButton:hover {
    background-color: rgb(66,183,41); 
    box-shadow: inset 1px 1px 10px #3333334d;        
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
    cursor: pointer;
} 
.loginButton:active {
    background-color: rgb(66,183,41); 
    box-shadow: inset 1px 1px 10px #333333c1;  
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
} 
.signupButton {
    background-color: rgb(25,119,242); 
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
    transition: 150ms;
    border: none;
} 
.signupButton:hover {
    background-color: rgb(25,119,242); 
    box-shadow: inset 1px 1px 10px #3333334d;   
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
    cursor: pointer;
} 
.signupButton:active {
    background-color: rgb(25,119,242); 
    box-shadow: inset 1px 1px 10px #333333c1; 
    color: #fff; 
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
} 
.email-and-password {
    background-color: rgb(208, 208, 208); 
    color: #7a7a7a; 
    font-size: 14px;
    width: 96%;
    padding: 8px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 3px;
    padding: 6px;
    border: none;
    cursor: text;
    text-align: center;
} 