form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 20rem;
}

#submit {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  width: 20rem;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  border-radius: 4px;
  margin: 20px 0;
}