.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px 0;
}
