

.profile-header {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 70vh;
}

.coverPhoto {
  height: 300px;
  background-image: url('./cover-photo.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 80vw;
  border-radius: 0px 0px 10px 10px;  
}

.profile {
  display: flex;
  width: 60%;

  margin: 0px 300px;

}

.profile .card {
  margin: 10px 0px;
}

.right {
  width: 600px;
}

.left {
  width: 300px;
  
}

.photos .card {
  display: flex;
  flex-wrap: wrap;
 

}

.photo .card {
  width: 60px;
}