body {
  display: flex;
  justify-content: center;
}

.coverPhoto {
  height: 200px;
  background-image: url('./cover-photo.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.right {
  width: 600px;
}

.left {
  width: 300px;
}

.photos .card {
  display: flex;
  flex-wrap: wrap;
 

}

.photo .card {
  width: 60px;
}