.profile-header {
  margin-bottom: 20px;
  width: 100%;
  height: 420px;
}

.cover-photo {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.profile-picture-container-page {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 150px;
  width: 150px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #eff9fd;
}

.profile-picture-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* Update button */
.update-button {
  background-color: #4267b2; /* Facebook blue */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}

/* Update button hover effect */
.update-button:hover {
  background-color: #285593;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.tab-button {
  background-color: #4267b2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.tab-button:hover {
  background-color: #285593;
}

.tab-button:active {
  background-color: #285593;
}

.about-section {
  background-color: #eff9fd;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.friend-button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.remove-friend-button {
  background-color: #FF4136;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.cancel-friend-request-button {
  background-color: #FF851B;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.accept-friend-request-button {
  background-color: #2ECC40;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; 
  margin-left: 0.1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.reject-friend-request-button {
  background-color: #FF4136;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  margin-left: 0.1rem;
  /* margin-right: 1rem; */ 
  margin-bottom: 0.5rem;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

.send-friend-request-button {
  background-color: #4267b2;
  color: #fff;
  border: none; /* remove the default button border */
  padding: 0.5rem 1rem; /* add some padding to the button */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px; /* give the button rounded corners */
  font-size: 0.8rem; /* set the font size */
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
  width: 175px;
}

/* Update the button styling */
button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
}

/* Add a class for the upload buttons */
.upload-button {
  background-color: #4267b2; /* Facebook blue */
  color: white;
}

/* Add a class for the submit buttons */
.submit-button {
  background-color: #1877f2; /* Facebook blue */
  color: white;
}

/* Use flexbox to group the buttons together */
.button-group {
  display: flex;
  justify-content: center;
}

/* Add styles to the cover image and profile image input */
.cover-image-input,
.profile-image-input {
  margin: 16px 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-container button {
  width: 45%;
  margin: 10px;
}
.about-card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
  width: 80%; /* increase the width of the card */
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}

.about-card-header {
  background-color: #4267b2;
  color: #fff;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 24px; /* increase the font size of the header */
  font-weight: bold; /* bold the text */
  margin-bottom: 20px; /* add a margin to the bottom of the header */
}

.about-card-body {
  padding: 20px;
  font-size: 18px; /* increase the font size of the body text */
}

.about-card-body > div {
  margin-bottom: 10px;

.accept-friend-request-button:hover, .reject-friend-request-button:hover,
.cancel-friend-request-button:hover, .remove-friend-button:hover {
  background-color: white;
  color: #4267B2;
  /* border-style: solid;
  border: 0.5px;
  border-color: #D9D9D9; */
}
