body {
  display: flex;
  justify-content: center;
}

.coverPhoto .card {
  height: 100px
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.user-info {
  width: 500px;
}

.user-details {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 10px;
}

.right {
  width: 525px;
}

.left {
  width: 500px
}

.photos .card {
  display: flex;
  flex-wrap: wrap;
 

}

.photo .card {
  width: 60px;
}