/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #1d2129;
  background-color: #e9ebee;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dddfe2;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Add this line */
}

.header h1 {
  font-size: 1.5rem;
  color: #1d2129;
  margin: 0;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.profile-picture-container {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-image-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.change-image-button:hover {
  background-color: #5a79d1;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* User Info Container */
.user-info-container {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.user-info-container:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.name {
  font-size: 1.5rem;
  color: #1d2129;
  margin: 0;
}

.username-followers-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  color: #777;
  margin-right: 10px;
}

.followers {
  color: #1d2129;
}

.bio-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.bio {
  color: #1d2129;
}

.edit-profile-btn {
  padding: 10px 20px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
  background-color: #5a79d1;
}

/* My Posts Container */
.my-posts-container {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.my-posts-container h2 {
  color: #1d2129;
  margin-bottom: 10px;
}

.my-posts {
  border-top: 1px solid #dddfe2;
  padding-top: 10px;
}

.profile-info-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.profile-info-input,
.profile-info-textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.profile-info-textarea {
  resize: none;
  height: 100px;
}

.profile-info-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-info-button:hover {
  background-color: #5a79d1;
}

.profile-image-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.profile-image-input {
  margin: 10px 0;
}

.profile-image-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-image-button:hover {
  background-color: #5a79d1;
}
