body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 40px;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2.8rem;
}

.signup-button {
  font-size: 2rem;
}

.login-button {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  animation: gradient 15s ease infinite;
}

.signUpForm {
  text-align: center;
  padding-top: px 40;
  margin-top: px 40;
  border-radius: 30px;
}

.logInForm {
  text-align: center;
  padding-top: px 40;
  margin-top: px 40;
  border-radius: 30px;
}

#message {
  height: 100px;
  width: 500px;
  border-width: 0.9px;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}

input {
  text-align: left;
}

input::placeholder {
  text-align: left;
}

/* #feedComponent title-posts {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #fff;
} */

#feedComponent {
  padding-left: 55px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}
#feedComponent textarea {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: center;
  border: 0;
  outline: 0;
  border-bottom: 1px soild #ccc;
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
}

#submitPost {
  text-align: center;
  margin-left: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: auto;
  position: relative;
  display: flex;
  border: 5px;
  border-color: #2e4357;
  border-radius: 6px;
  background-color:  #3d6890;
  border: none;
  color: white;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
   {
    content: "»";
    opacity: 0;
  }
}

#feed {
  width: 100%;
  background: transparent;
  border-radius: 6px;
  padding: 20px;
  color: white;
  margin: 20px 0;

}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  border-radius: 10px;
  border: 0;
  border-width: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 500px;
  height: 100%;
  position: relative;
}

.postImage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postContent {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: transparent;
  border-radius: 10px;
  border: solid;
  border-width: 0.75px;
  width: 75%;
  margin-top: 75px;
  margin-bottom: 10px;
  word-wrap: break-word;
  align-self: flex-end;
}

.postTimestamp {
  display: flex;
  align-self: flex-end;
  margin-left: 250px;
}

.postButtons {
  display: flex;
  position: relative;
  padding-top: 10px;
  margin-right: 10px;
  align-self: flex-start;
}

#like,
#unlike,
#delete {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: 10px;
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: #3d6890;
  border: none;
  color: #fff;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
   {
    content: "»";
    opacity: 0;
  }
}


.likesDiv {
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
}

#like {
  margin-left: 10px;
}

#commentButton {
  position: relative;
  display: flex;
  margin-left: 10px;
}

.postUserName {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.comment {
  display: block;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: auto;
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: #2e4357;
  border: none;
  color: #fff;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
  transition: 0.5s;{
  content: '»';
  opacity: 0; 
}
}
.comment > * {
  width: 100%;
}

.commentField {
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
  background: transparent;
}
#commentButton {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: 10px;
  position: relative;
  display: flex;
  border: 5px;
  border-color: #2e4357;
  border-radius: 6px;
  background-color:  #3d6890;
  border: none;
  color: white;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
   {
    content: "»";
    opacity: 0;
  }
  
}
#comment {
  width: 145%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: 10px;
  position: relative;
  display: flex;
  border: 5px;
  border-color: #2e4357;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
   {
    content: "»";
    opacity: 0;
  }
}

#showComments {
  margin-bottom: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-right: 10px;
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: #3d6890;
  border: none;
  color: #fff;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
   {
    content: "»";
    opacity: 0;
  }
}

.profilePagePicture {
  display: flex;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#profileBio,
#bioTitle,
#bioText,
#friendsListTitle,
#friendsList,
.friendElement {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

#bioTitle {
  margin-top: 40px;
}

#bioText {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0.9px;
  border-radius: 10px;
  border: solid;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

#bioEdit {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0.9px;
  border-radius: 10px;
  border: solid;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.friendElement {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0.9px;
  border-radius: 10px;
  border: solid;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

#friendsListTitle {
  margin-top: 20px;
}

body {
  background: linear-gradient(-45deg, #9652ee, #5b3ce7, #23a6d5, #b123d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus + ::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 0.2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-button {
  margin-top: 50px;
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 300;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.welcome-signup {
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subb-signup {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1em;
  font-weight: 100;
  font-size: 20px;
  font-size: 3rem;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.subtitle-signup {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 1.5rem;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 700px;
  width: 600px;
  background: #fff;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823")
    top left no-repeat;
  border-radius: 30px;
}

.overlay {
  background: -webkit-linear-gradient(#8ca6db, #b993d6);
  background: linear-gradient(#8ca6db, #b993d6);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
  
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity: 0.1;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823")
    left no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

body {
  background: linear-gradient(-45deg, #9652ee, #5b3ce7, #23a6d5, #b123d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus + ::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 0.2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-line {
  background: none;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.input-fields-signup {
  margin-top: 0px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

#welcome-login {
  font-weight: 300;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

#subb-login {
  text-align: center;
  margin-top: 50px;
  line-height: 1em;
  font-weight: 100;
  font-size: 20px;
  font-size: 3rem;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

#subtitle-login {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 700px;
  width: 500px;
  background: #fff;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823")
    top left no-repeat;
}

.overlay {
  background: -webkit-linear-gradient(#8ca6db, #b993d6);
  background: linear-gradient(#8ca6db, #b993d6);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 700px;
  position: absolute;
  width: 500px;
  z-index: 1;
}

#signup-overlay {
  height: 800px;
}

#signup-submit {
  margin-top: 20px;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity: 0.1;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823")
    left no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }

#changeProfilePictureButton {
  margin-top: 10px;
}
}