@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;1,300&display=swap');


body {
  font-family: 'Mulish';
  /*-apple-system, BlinkMacSystemFont, 'Mulish', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f5;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin: auto;

}

h1 {
  font-weight: light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:hover {
  border: 1px solid blue;
  box-shadow: 0px 0px 5px #93baf3 ;
  border-radius: 6px;
}

input {
    border: thin solid lightgray;
    padding: 5px 15px;
}

button {
  background-color: transparent;
  border: none;
}