body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.signUpForm {
  text-align: center;
}

.logInForm {
  text-align: center;
  padding-top: px 40;
  margin-top: px 40;
}

#feedComponent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.post {
  display: flex;
  border-width: 0.9px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  background-color: #fff;
  border-radius: 20px;
  border: solid;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 500px;
  height: 100%;
  position: relative;
}

.postContent {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-color: #fff;
  border-radius: 20px;
  border: solid;
  border-width: 0.75px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  align-self: flex-end;
}

.postButtons {
  display: flex;
  position: relative;
  bottom: 10px;
  left: 10px;
}

#like,
#comment {
  margin-right: 10px;
  position: relative;
}
