@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  
  /* border: 1px solid black; */
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family:  'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


