.profile-header {
    text-align: center;
		background-color: #1877f2;
  }
  
.profile-picture {
	width: 150px; /* Set the desired size for the profile picture */
	height: 150px; /* Set the desired size for the profile picture */
	object-fit: cover;
	border-radius: 50%;
	margin-top: 20px;
}
  
.user-name {
	margin: 0;
	font-size: 300%;
	font-style: bold;
	color: white;
}
  