.landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(51, 96, 255, 0.26) 52%, #fff 0%);

}

.box {
  min-height: 30%;
  width: 100%;
  color: #3360ff;
}

.svg {
  width: 100%;
  position: relative;
  top: 52%;
  /* height: 100%; */
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.header {
  font-family: 'Tahoma';
  font-size: 5rem;
  font-weight: 700;
  color: #3360FF;
}

.text {
  width: 60%;
}
