.feed-posts {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.new-post {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-post textarea {
  resize: none;
  width: 400px;
  height: 60px;
  font-size: 12pt;
}
