/* Feed.css */

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(170, 216, 216, 0.847);
  border-radius: 20px;
  min-width: 500px;
  max-width: 500px;
  margin-bottom: 35px;

}

.form-container label {
  margin-right: 10px;
}

.input {
  min-width: 250px;
  border-radius: 8px;
  margin-right: 10px;
  min-height: 30px;
}

.moan-button {
  border-radius: 8px;
  margin-right: 10px;
  border-width: 1px;
}


