.new-post-form {
  text-align: center;
  background-color: #1877f2;
}


.post-container {
  max-width: 600px; /* Adjust the maximum width of the post container as needed */
  margin: 20px auto; /* Center the post container */
}



.new-post-input-box {
  border: none;
  background-color: #f2f2f2; /* Light grey background color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  width: 70%; 
  height: 75px;
  color: #413b3b;
  font-size: larger;
}


.button-8 {
  background-color: #bfe1fa;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #07c;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #0064bd;
  box-shadow: none;
}

.button-9 {
  border: none;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  width: 70%; 
  color: #413b3b;
  font-size: larger; box-shadow: none;
}