
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 62px;
  background-color: #Ffc8dd;
  font-family: 'gill sans';
  color: black;
  text-align: center;
  font-size: 18px;
}