.form-header {
    /* Styles for the form header */
    font-size: 20px;
    font-weight: bold;
    text-align: center;

  }
  
  .aligned-credentials {
    /* Styles for the aligned credentials */
    display: flex;
 
  }
  
  .email-box-space {
    /* Styles for the email input box */
    margin-right: 10px;
   
  }
  
  .password-box-space {
    /* Styles for the password input box */
    margin-left: 10px;
  }
  
  .aligned-names {
    /* Styles for the aligned names */
    display: flex;
   
  }
  
  .first-name-box-space {
    /* Styles for the first name input box */
    margin-right: 10px;
    /* Add other styles as needed */
  }
  
  .last-name-box-space {
    /* Styles for the last name input box */
    margin-left: 10px;
  }
  
  .form-group {
    /* Styles for the form group */
    margin-bottom: 10px;
    text-align: center;
  }
  
  .success-message {
    /* Styles for the success message */
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
  }
  
  .success-message.error {
    /* Styles for the error message */
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
  }
  
  
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  width: 300px;
  max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-buttons {
  text-align: center;
  margin-top: 20px;
}

.popup-buttons button {
  margin: 0 10px;
}

.confirmation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirmation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.confirmation-buttons button {
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.error {
  border: 1px solid red !important;
  animation: shake 0.5s;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(0);
  }
}