
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');

.navbar .nav-link.active {
    background-color: rgb(135, 179, 226, 0.4); 
    &:active {
        color: rgb(255, 255, 255);
    }
}

.navbar {
    background-color: rgb(220, 208, 232, 0.5);
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}

.navbar-nav {
    margin-left: 900px;
    .nav-link {
        margin-right: 10px; 
        color: rgb(255, 255, 255);
        &:hover {
            color: rgb(90, 114, 170);
        }
    }
}

#navbar-brand {
    margin-left: 0px;
    font-family: Sriracha;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.navbar .container {
    margin-left: 10px;
    margin-right: 0px;
}